@model BloggMattiasInlämningsUppgiftASPNETMVC_C.ViewModels.IndexViewModel




<!-- Page Content -->
<div class="container">

    <div class="row" style="margin-top: 20px;">

        <!-- Blog Post Content Column -->
        <div class="col-lg-9 well">

            @{
                foreach (var item in Model.BlogPostList)
                {

                <!-- Blog Post -->
                <!-- Title -->
                    <h1 id="header">@item.HeadLine</h1>

                <!-- Author -->
                    <p class="lead">
                        by <a href="#">Mattias Josephsson</a>
                    </p>

                    <hr>

                <!-- Date/Time -->
                    <p id="DateAndCateSpan"><span class="glyphicon glyphicon-time"></span> Posted @item.CreationDate.ToString() &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Category: @item.Category.CategoryName</p>

                    <hr>

                


                <!--TEXT-->
                    <div class="accordion">
                        <h4 class="accordion-toggle">Read more..</h4>
                        <div class="accordion-content default">
                            <p id="pWithLineBrake" >@item.TextBody</p>
                        </div>
                    </div>

                        

                        <hr id="bigHr">
                        }
                        }




                    </div>


        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-3">

            <!-- Blog Search Well -->
            <div class="well">

                <h4>Blog Search</h4>

                <div class="input-group">
                    <form asp-controller="Blog" asp-action="IndexSearch" method="post">
                        <input asp-for="SearchString" type="text" class="form-control">

                        <input class="btn btn-default" type="submit" value="Search">

                    </form>

                </div>
                <!-- /.input-group -->
                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled">
                                @{
                                    foreach (var category in Model.CategoryList)
                                    {
                                        <li>
                                            <a asp-controller="Blog" asp-action="IndexCategoryResult"asp-route-categoryId="@category.Id">@category.CategoryName</a>
                                        </li>
                                    }

                                }
                            </ul>
                        </div>
                       
                    </div>
                    <!-- /.row -->
                </div>


            </div>

        </div>

    </div>
</div>